@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g240rj');
  src:  url('fonts/icomoon.eot?g240rj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g240rj') format('truetype'),
    url('fonts/icomoon.woff?g240rj') format('woff'),
    url('fonts/icomoon.svg?g240rj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-event .path1:before {
  content: "\e900";
  color: rgb(79, 79, 79);
}
.icon-event .path2:before {
  content: "\e901";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path3:before {
  content: "\e902";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path4:before {
  content: "\e903";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path5:before {
  content: "\e904";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path6:before {
  content: "\e905";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path7:before {
  content: "\e906";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path8:before {
  content: "\e907";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path9:before {
  content: "\e908";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
.icon-event .path10:before {
  content: "\e909";
  margin-left: -1.0625em;
  color: rgb(133, 133, 131);
}
